bin/schedule_building.pid
bin/schedule_ship_arrival.pid
bin/schedule_captcha.pid
bin/setup/server/*.gz
bin/setup/server/*.rpm
bin/setup/server/*/
etc
var/www/public/local.html
var/www/public/server_overview.json
var/www/public/starmap.json
var/www/public/api
var/www/public/captcha

